body {
    margin: -24px;
    background-image: none;
    position: static;
    left: auto;
    width: 2016px;
    /*margin-left: 0;*/
    margin-right: 0;
    text-align: left;
}

#base {
    position: absolute;
    z-index: 0;
}

#u0_div {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 530px;
    height: 304px;
    background: inherit;
    background-color: rgba(242, 242, 242, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u0 {
    border-width: 0px;
    position: absolute;
    left: 218px;
    top: 220px;
    width: 530px;
    height: 304px;
}

#u0_text {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    visibility: hidden;
    word-wrap: break-word;
}

#u1_div {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 2016px;
    height: 1235px;
    background: inherit;
    background-color: rgba(242, 242, 242, 0.498039215686275);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(242, 242, 242, 1);
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u1 {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 81px;
    width: 2016px;
    height: 1235px;
}

#u1_text {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    visibility: hidden;
    word-wrap: break-word;
}

#u2_div {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 290px;
    height: 21px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Bold', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
}

#u2 {
    border-width: 0px;
    position: absolute;
    left: 825px;
    top: 240px;
    width: 290px;
    height: 21px;
    font-family: 'Arial Bold', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
}

#u2_text {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 290px;
    word-wrap: break-word;
}

#u3_div {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 2009px;
    height: 81px;
    background: inherit;
    background-color: rgba(242, 242, 242, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u3 {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 2009px;
    height: 81px;
}

#u3_text {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    visibility: hidden;
    word-wrap: break-word;
}

#u4_img {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 300px;
    height: 50px;
}

#u4 {
    border-width: 0px;
    position: absolute;
    left: 48px;
    top: 16px;
    width: 300px;
    height: 50px;
}

#u4_text {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    visibility: hidden;
    word-wrap: break-word;
}

#u5 {
    border-width: 0px;
    position: absolute;
    left: 825px;
    top: 324px;
    width: 332px;
    height: 40px;
}

#u5_input {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 332px;
    height: 40px;
    background-color: #E4E4E4;
    font-family: 'Helvetica Regular', 'Helvetica';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    text-decoration: none;
    color: #000000;
    text-align: left;
}

#u6_div {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 140px;
    height: 40px;
    background: inherit;
    background-color: rgba(22, 155, 213, 1);
    border: none;
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 18px;
}

#u6 {
    border-width: 0px;
    position: absolute;
    left: 1017px;
    top: 402px;
    width: 140px;
    height: 40px;
    font-size: 18px;
}

#u6_text {
    border-width: 0px;
    position: absolute;
    left: 2px;
    top: 9px;
    width: 136px;
    word-wrap: break-word;
}

#u7_div {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 308px;
    height: 23px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Bold', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    color: #FF9900;
}

#u7 {
    border-width: 0px;
    position: absolute;
    left: 825px;
    top: 271px;
    width: 308px;
    height: 23px;
    font-family: 'Arial Bold', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    color: #FF9900;
}

#u7_text {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 309px;
    white-space: nowrap;
}

#u8 {
    border-width: 0px;
    position: absolute;
    left: 307px;
    top: 286px;
    width: 351px;
    height: 31px;
}

#u8_input {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 351px;
    height: 31px;
    font-family: 'Helvetica Regular', 'Helvetica';
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    text-decoration: none;
    color: #000000;
    text-align: left;
}

#u9 {
    border-width: 0px;
    position: absolute;
    left: 307px;
    top: 352px;
    width: 351px;
    height: 31px;
}

#u9_input {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 351px;
    height: 31px;
    font-family: 'Helvetica Regular', 'Helvetica';
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    text-decoration: none;
    color: #000000;
    text-align: left;
}

#u10_div {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 140px;
    height: 40px;
    background: inherit;
    background-color: rgba(22, 155, 213, 1);
    border: none;
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 18px;
}

#u10 {
    border-width: 0px;
    position: absolute;
    left: 518px;
    top: 454px;
    width: 140px;
    height: 40px;
    font-size: 18px;
}

#u10_text {
    border-width: 0px;
    position: absolute;
    left: 2px;
    top: 9px;
    width: 136px;
    word-wrap: break-word;
}

#u11_div {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 242px;
    height: 21px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Bold', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color: #FF9900;
}

#u11 {
    border-width: 0px;
    position: absolute;
    left: 307px;
    top: 249px;
    width: 242px;
    height: 21px;
    font-family: 'Arial Bold', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color: #FF9900;
}

#u11_text {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 245px;
    white-space: nowrap;
}

#u12_div {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 218px;
    height: 16px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Bold', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    color: #0099FF;
}

#u12 {
    border-width: 0px;
    position: absolute;
    left: 307px;
    top: 402px;
    width: 218px;
    height: 16px;
    font-family: 'Arial Bold', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    color: #0099FF;
}

#u12_text {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 226px;
    white-space: nowrap;
}

#u13_img {
    border-width: 0px;
    position: absolute;
    left: -1px;
    top: -1px;
    width: 5px;
    height: 451px;
}

#u13 {
    border-width: 0px;
    position: absolute;
    left: 792px;
    top: 146px;
    width: 2px;
    height: 448px;
}

#u13_text {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    visibility: hidden;
    word-wrap: break-word;
}
