
@{
    ViewBag.Title = "Dashboard";
}
<div id="base" class="">
    
    <div id="u48" class="ax_default box_2">
        <div id="u48_div" class=""></div>
    </div>
    
    <div id="u49" class="ax_default box_2">
        <div id="u49_div" class=""></div>
    </div>
   
    <div id="u50" class="ax_default label">
        <div id="u50_div" class=""></div>
        <div id="u50_text" class="text ">
            <p><span>Choose the Applications you want to connect</span></p>
        </div>
    </div>


    <!-- (Droplist) -->
    <div id="u51" class="ax_default droplist">
        <select id="u51_input">
            <option value="SalesForce">SalesForce</option>
            <option value="JIRA">JIRA</option>
            <option value="SAP">SAP</option>
            <option value="D2L">D2L</option>
        </select>
    </div>
    <!-- (Table) -->
    <div id="u52" class="ax_default">
       
        <div id="u53" class="ax_default table_cell">
            <img id="u53_img" class="img " src="~/images/create_integration/u53.png" />
            <div id="u53_text" class="text ">
                <p><span style="color:#0066FF;">My</span><span style="color:#FFFFFF;"> INTEGRATIONS</span></p>
            </div>
        </div>
        
        <div id="u54" class="ax_default table_cell">
            <img id="u54_img" class="img " src="~/images/create_integration/u54.png" />
            <div id="u54_text" class="text ">
                <p><span>Salesforce-Jira</span></p>
            </div>
        </div>
        
        <div id="u55" class="ax_default table_cell">
            <img id="u55_img" class="img " src="~/images/create_integration/u55.png" />
            <div id="u55_text" class="text ">
                <p><span>Add New</span></p>
            </div>
        </div>
     
        <div id="u56" class="ax_default table_cell">
            <img id="u56_img" class="img " src="~/images/create_integration/u53.png" />
            <div id="u56_text" class="text ">
                <p><span>MAP</span></p>
            </div>
        </div>
       
        <div id="u57" class="ax_default table_cell">
            <img id="u57_img" class="img " src="~/images/create_integration/u53.png" />
            <div id="u57_text" class="text ">
                <p><span>TEST</span></p>
            </div>
        </div>
       
        <div id="u58" class="ax_default table_cell">
            <img id="u58_img" class="img " src="~/images/create_integration/u53.png" />
            <div id="u58_text" class="text ">
                <p><span>DEPLOY</span></p>
            </div>
        </div>
       
        <div id="u59" class="ax_default table_cell">
            <img id="u59_img" class="img " src="~/images/create_integration/u53.png" />
            <div id="u59_text" class="text ">
                <p><span>BILLING</span></p>
            </div>
        </div>
       
        <div id="u60" class="ax_default table_cell">
            <img id="u60_img" class="img " src="~/images/create_integration/u60.png" />
        </div>
    </div>
    <!--Table End-->

    
    <!-- (Image) -->
    <div id="u63" class="ax_default image">
        <img id="u63_img" class="img " src="~/images/create_integration/u63.png" />
    </div>
   
    <div id="u64" class="ax_default label">
        <div id="u64_div" class=""></div>
        <div id="u64_text" class="text ">
            <p><span>Salesforce</span></p>
        </div>
    </div>
  
    <div id="u65" class="ax_default label">
        <div id="u65_div" class=""></div>
        <div id="u65_text" class="text ">
            <p><span>Jira</span></p>
        </div>
    </div>
   
    <div id="u66" class="ax_default primary_button">
        <div id="u66_div" class=""></div>
        <div id="u66_text" class="text ">
            <p><span>Create</span></p>
        </div>
    </div>
</div>
